<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite18" verbose="1">
    <test name="HomeworkRegression18">
        <classes>
<!--            <class name="homework.lection18.CalculatorTest"/>-->
<!--            <class name="practice.lection18.TriangleTest"/>-->
            <class name="homework.lection21.Task21_1"/>
        </classes>
    </test>
</suite>